.row ,.container ,.card{
    direction: rtl;
    text-align: right;
}

.topbar{
    direction: rtl;
    padding-left: 0px;
}

.navbar-search input{
    border-radius: 0px 8px 8px 0px !important;
}

.navbar-search button{
    border-radius:8px 0px 0px 8px !important;
}


.sidebar .nav-link ,.collapse-inner{
    text-align: right !important;
    direction: rtl !important;
}

